@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Zilla+Slab:wght');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100%;
}

section {
    width: 100%;
    height: 500px;
}

.section1 {
    width: 100%;
    height: 500px;
    background: url("./img/back-img.jpg") center / cover no-repeat;
}

.section1-gt {
    padding-top: 120px;
    width: 100%;
    height: 100%;
    background: linear-gradient(90.2deg, rgba(2, 2, 2, 0.58) 0.16%, rgba(196, 196, 196, 0) 99.83%);
}

.s1-info {
    text-align: center;
}

h1 {
    font-size: 44px;
    margin-bottom: 24px;
    font-family: 'Zilla Slab', serif;
    font-weight: 400;
}

p {
    font-size: 19px;
    margin-bottom: 38px;
    font-weight: 500;
    line-height: 30px;
}

.btn {
    padding: 14px 60px;
    border-radius: 20px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 800;
    margin-right: 20px;
}

.get-btn {
    background: linear-gradient(90deg, #F27A54 -21.05%, #A154F2 121.05%);
}

.find-btn {
    background: none;
    border: 1px solid #fff;
}

.section2{
    width: 100%;
    height: 500px;
    background: linear-gradient(90deg, #F27A54 -21.05%, #A154F2 121.05%), #3C444C;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.get-s2{
    background: #fff;
    color: black;
}

.s2-info {
    margin: 100px 0px 0px 120px;
}

.s2-image{
    margin-top: 40px;
    margin-right: 80px;
}

.section3{
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.left-block{
    width: 50%;
    height: 100%;
    background: #3C444C;
    text-align: center;
    padding-top: 100px;
}

.right-block{
    width: 50%;
    height: 100%;
    background: url("./img/back-img2.jpg")center / cover no-repeat;
}

.right-gradient{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(161, 84, 242, 0.7) -12.89%, rgba(242, 122, 84, 0.7) 114.44%);;
}

.btn-arrow{
    padding: 14px 60px;
    border-radius: 20px;
    border: none;
    color: #000;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 800;
    margin-right: 20px;

}

.btn-arrow{
    position: relative;
}

.arrow{
    position: absolute;
    right: 20px;
}

.footer{
    background: url("./img/image.jpg") center/ cover no-repeat;
}

.footer-gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #3C444C 0%, rgba(60, 68, 76, 0) 100%);
}

.footer-top {
    width: 100%;
    padding: 30px 0px 0px 30px;
    margin-bottom: 80px;
}

.footer-info{
    text-align: center;
}

.footer-btn{
    border: none;
    border-radius: 2px;
    padding: 2px 4px;
    background: linear-gradient(90deg, #F27A54 -21.05%, #A154F2 121.05%);
    text-transform: uppercase ;
    font-weight: 800;
    font-size: 10px;
    margin-bottom: 20px;
}

.info-date > img {
    margin-right: 20px;
}

@media(max-width:1280px) {

    .s2-image > img {
        width: 450px;
    }
}

@media(max-width :1090px) {

    .s2-image > img {
        width: 350px;
    }
}

@media(max-width :1000px ) {
    .s2-image > img {
        display: none;
    }

    .s2-info{
        margin: 0;
    }

    .section2{
        padding-top: 100px;
        text-align: center;
        display: block;
    }
}

@media(max-width :900px ) {

    .section3 {
        display: inline;
    }

    .left-block , .right-block{
        width: 100%;
        height: 650px;
    }
}

@media(max-width :800px ) {

    .section1, .section2 , .section3, .footer{
        height: 650px;
    }

    .s1-info{
        padding: 0px 40px;
    }
}

@media(max-width:540px) {

    .btn{
        margin-bottom: 20px;
    }
}

@media( max-width:400px) {

    .footer-info{
        padding: 0px 20px ;
    }
}